:root {
  /* Primary */
  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);
  /* Neutral */
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  max-width: 100%;
}

body {
  background: var(--clr-off-white);
}

* p {
  font-size: 15px;
}

.nav-links {
  display: none;
}

.desk-img {
  display: none;
}

/* MOBILE NAV */
.navbar {
  padding: 1.5rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog {
  border: none;
  position: relative;
  margin-left: 30%;
  width: 70%;
  height: 100vh;
  background: white;
}
dialog button {
  background: transparent;
  border: none;
  position: absolute;
  right: 12px;
  top: 12px;
}
dialog .nav-items {
  margin: 50% 0;
}
dialog a {
  text-decoration: none;
  color: var(--clr-very-dark-blue);
  display: block;
  margin: 2rem;
  font-size: 1.5rem;
}

/* HERO STYLES */
article {
  padding: 1.5rem;
  /*     max-width: 80%; */
}
article .hero-txt {
  color: var(--clr-dark-grayish-blue);
}
article .hero-txt h1 {
  font-weight: 800;
  color: var(--clr-very-dark-blue);
  margin-bottom: 0.5rem;
  font-size: 2.8rem;
}
article .hero-txt p {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
article .hero-txt button {
  background: var(--clr-soft-red);
  border: none;
  padding: 10px 25px;
  color: var(--clr-off-white);
  cursor: pointer;
  letter-spacing: 0.3ch;
}
article .card-lg {
  background: var(--clr-very-dark-blue);
  color: white;
  padding: 1.5rem;
}
article .card-lg h1 {
  color: var(--clr-soft-orange);
  font-weight: 800;
  margin-bottom: 0.5rem;
}
article .card-lg h4 {
  margin: 1rem 0;
  font-weight: 700;
}
article .card-lg p {
  line-height: 1.5;
  color: var(--clr-dark-grayish-blue);
}
article .card-lg hr {
  width: 100%;
  margin: 1rem auto;
  border: 0.1px solid rgba(255, 255, 255, 0.2);
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  /*   max-width: 80%; */
}
.flex .flex-item {
  display: flex;
  gap: 1rem;
}
.flex .flex-item img {
  flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.flex .flex-item .img-2 {
  width: 170px;
}
.flex .flex-item h1 {
  color: var(--clr-dark-grayish-blue);
  margin-bottom: 0.5rem;
}
.flex .flex-item h3 {
  color: var(--clr-very-dark-blue);
  margin-bottom: 0.5rem;
}
.flex .flex-item p {
  color: var(--clr-dark-grayish-blue);
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .mobile-img {
    display: none;
  }
  .desk-img {
    display: block;
    width: 90%;
  }
  .navbar {
    padding: 1rem 4rem;
  }
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  .nav-links a {
    text-decoration: none;
    color: var(--clr-dark-grayish-blue);
  }
  .nav-links a:hover {
    color: var(--clr-soft-red);
  }
  .menu-btn {
    display: none;
  }
  dialog {
    display: none;
  }
  .hero-flex {
    display: flex;
    padding: 0 2rem;
  }
  .hero-flex .hero-txt {
    display: flex;
    gap: 8rem;
    margin-top: 2rem;
    flex: 1;
  }
  .hero-flex .hero-txt h1 {
    font-size: 2.8rem;
    width: 60%;
  }
  .hero-flex .hero-txt p {
    margin-bottom: 2rem;
    width: 80%;
  }
  .hero-flex .hero-txt button:hover {
    background: var(--clr-very-dark-blue);
  }
  .hero-flex .hero-right h1 {
    font-size: 3.5rem;
  }
  .hero-flex .hero-right h4 {
    font-size: 1.2rem;
    cursor: pointer;
  }
  .hero-flex .hero-right h4:hover {
    color: var(--clr-soft-orange);
  }
  .flex {
    flex-direction: row;
    padding: 0 2rem;
    align-items: baseline;
    justify-content: center;
  }
  .flex img {
    width: 170px;
  }
  .flex h3:hover {
    cursor: pointer;
    color: var(--clr-soft-red);
  }
}/*# sourceMappingURL=style.css.map */