:root{
/* Primary */

--clr-soft-orange: hsl(35, 77%, 62%);
--clr-soft-red: hsl(5, 85%, 63%);

/* Neutral */

--clr-off-white: hsl(36, 100%, 99%);
--clr-grayish-blue: hsl(233, 8%, 79%);
--clr-dark-grayish-blue: hsl(236, 13%, 42%);
--clr-very-dark-blue: hsl(240, 100%, 5%);

}    


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
}
body{
    background: var(--clr-off-white);
}
* p{
    font-size: 15px;
}
.desk-img{
    display: none;
}


/* MOBILE NAV */
.navbar{
    padding: 1.5rem;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
dialog{
    border: none;
    position: relative;
    margin-left: 30%;
    width: 70%;
    height: 100vh;
    background: white;
    button{
        background: transparent;
        border: none;
        position: absolute;
        right: 12px;
        top: 12px;
    }
    .nav-items{
        margin: 50% 0;
    }
    a{
        text-decoration: none;
        color: var(--clr-very-dark-blue);
        display: block;
        margin: 2rem;
        font-size: 1.5rem;
    }
}

/* HERO STYLES */

article{
    padding: 1.5rem;
/*     max-width: 80%; */
    .hero-txt{
        color: var(--clr-dark-grayish-blue);
        h1{
            font-weight: 800;
            color: var(--clr-very-dark-blue);
            margin-bottom: .5rem;
            font-size: 2.8rem;
        }
        p{
            line-height: 1.5;
            margin-bottom: .5rem;
        }
        button{
            background: var(--clr-soft-red);
            border: none;
            padding: 10px 25px;
            color: var(--clr-off-white);
            cursor: pointer;
            letter-spacing: .3ch;
        }
    }
    .card-lg{
        background: var(--clr-very-dark-blue);
        color: white;
        padding: 1.5rem;
        h1{
            color: var(--clr-soft-orange);
            font-weight: 800;
            margin-bottom: .5rem;
        }
        h4{
            margin: 1rem 0;
            font-weight: 700;
        }
        p{
            line-height: 1.5;
            color: var(--clr-dark-grayish-blue);
        }
        hr{
            width: 100%;
            margin: 1rem auto;
            border: 0.1px solid rgba(255, 255, 255, 0.2);
        }
    }

}

.flex{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
  /*   max-width: 80%; */
    .flex-item{
        display: flex;
        gap: 1rem;
        img{
            flex: 1;
            object-fit: cover;
        }
        .img-2{
            width: 170px;
        }
        h1{
            color: var(--clr-dark-grayish-blue);
            margin-bottom: .5rem;
        }
        h3{
            color: var(--clr-very-dark-blue);
            margin-bottom: .5rem;
        }
        p{
            color: var(--clr-dark-grayish-blue);
            line-height: 1.5;
        }
    }
}